---
//import TitlePage from '@/components/TitlePage'
import Experience from '@/components/Experience'
import NamedList from '@/components/NamedList'
import BaseLayout from '@/layouts/BaseLayout'
import UnorderedList from '@/components/UnorderedList'
import ListItem from '@/components/ListItem'
import { SKILLS } from '@/data/skills'
import { EXPERIENCE } from '@/data/experience'

const title = 'About'
---

<BaseLayout title={title}>
	<!-- <TitlePage title={title} /> -->

	<div class="flex gap-8 justify-center items-center">
		<div>
			<div class="size-32 md:size-64 bg-[url(/myself.jpg)] bg-cover rounded-[25%] border-2 border-slate shadow-glow" />
		</div>
		<div class="flex flex-col">
			<p class="text-lg text-white font-bold">
				William Moodhe
			</p>
			<p class="text-sm">
				Hi, I'm a senior software engineer!
			</p>
			<p class="text-xs whitespace-pre-line">
				The site is still a bit under construction as I write pages for my personal projects
				and migrate blog posts from my old personal site.
			</p>
		</div>
	</div>

	<NamedList name="Experience" description="Where I've been professionally...">
		{EXPERIENCE.map(experience => (
			<Experience
				title={experience.company}
				subtitle={experience.title}
				dates={`${experience.startDate} - ${experience.endDate}`}
				image={experience.image}
			>
				{experience.description}
				{experience.skills?.length && <>
					<br />Key skills: {experience.skills.join(', ')}
				</>}
				{experience.bullets?.length && <UnorderedList>
					{experience.bullets.map(item => <ListItem>{item}</ListItem>)}
				</UnorderedList>}
			</Experience>
		))}
	</NamedList>

	<NamedList name="Skills" description="List isn't exhaustive. There's way too much tech to mention and these are just the key ones people look for.">
		<div class="grid grid-cols-[auto_auto_auto] gap-x-4 gap-y-1">
			{SKILLS.map(grp => (
				<div class="text-right">
					<b>{grp.category}</b>
				</div>
				<div>-</div>
				<div>
					{grp.skills}
				</div>
			))}
		</div>
	</NamedList>

	<NamedList name="Education">
		<Experience
			title="Stony Brook University"
			subtitle="B.S. Technological Systems Management, Specialization in Computer Science"
			image="logos/stonybrookuniversity.jpg"
		>
			Areas of interests were in game development, computer graphics, and project management.
			<br />Entered in to and won 1st place in the university's annual Game Programming Competition.
		</Experience>
		<Experience
			title="Suffolk Community College"
			subtitle="A.S. Computer Science"
			image="logos/sccc.png"
		/>
	</NamedList>

	<NamedList name="Awards">
		<Experience
			title="SBU Game Programming Competition"
			subtitle="1st place in 2015"
			image="logos/stonybrookuniversity.jpg"
		>
			Won 1st place in the university's annual game programming competition out of 100+ entries and 16 finalists for <i>"Valhalla Run"</i>.
			<br />Programmed in C# with the Unity engine and entered solo.
			<br /><a href="https://www3.cs.stonybrook.edu/~games/history.html">www3.cs.stonybrook.edu/~games/history.html</a>
		</Experience>
	</NamedList>
</BaseLayout>
