---
import BaseLayout from '@/layouts/BaseLayout.astro'
// import Icon from '@/components/icons/Icon.astro'
// import HoverUpDown from '@/components/animations/HoverUpDown.astro'
import SplashLink from '@/components/SplashPage/SplashLink.astro'
import SplashMenu from '@/components/SplashPage/SplashMenu.astro'
import { siteConfig } from '@/site.config'
import PageSection from '@/components/PageSection.astro'
import SectionWrapper from '@/components/SectionWrapper.astro'
// import ListWorkHistory from '@/components/WorkHistory/ListWorkHistory.astro'

const { author, jobTitle } = siteConfig
---

<BaseLayout noTopMargin>
    <SectionWrapper class="relative">
	    <div class="splash-bg" />

	    <PageSection class="justify-center">
	        <div class="flex gap-8 justify-center items-center flex-col py-16 md:py-32">
	            <div>
	                <div class="size-32 md:size-64 shadow-md shadow-black bg-[url(/myself.jpg)] bg-[length:180%_180%] bg-center rounded-full transition-[background-size] hover:bg-[length:100%_100%]" />
	            </div>
	            <div class="flex flex-col items-center text-center font-loto font-light pointer-events-none">
	                <div class="text-4xl md:text-6xl text-fg letter-deco">
	                    {Array.from(author).map((c, index) => <div style={`--slot:${index};`}>{c}</div>)}
	                </div>
	                <p class="text-4xl font-normal text-primary tracking-widest" style="text-shadow: 1px 1px 0.5em #0008;">
	                    {jobTitle}
	                </p>
	            </div>
	        </div>

	        <SplashMenu>
	            <SplashLink href="/resume">Resume</SplashLink>
	            <SplashLink href={`https://github.com/${siteConfig.github}`} target="_blank">GitHub</SplashLink>
	            <SplashLink href={`mailto:${siteConfig.email}`} target="_blank">Contact</SplashLink>
	        </SplashMenu>

			<!-- <div class="absolute bottom-14 flex justify-center w-full text-xl drop-shadow text-primary">
				<HoverUpDown>
					<Icon name="ri:arrow-down-circle-line" class="drop-shadow"/>
				</HoverUpDown>
			</div> -->
	    </PageSection>
    </SectionWrapper>

	<!-- <SectionWrapper>
	    <PageSection class="justify-center">
	        <ListWorkHistory />
	    </PageSection>
	</SectionWrapper> -->
</BaseLayout>

<style>
	.splash-bg {
		/* --band-col-1: #0f0c29;
		--band-col-2: #302b63;
		--band-col-3: #24243e; */

		position: absolute;
		inset: 0;
		z-index: -100;

		/* background: linear-gradient(to bottom,
			var(--band-col-1),
			var(--band-col-2),
			var(--band-col-3)
		);
		background-size: cover; */
		background: radial-gradient(ellipse at top, #1B2735 0%, #090A0F 100%);
	}

	.letter-deco {
		display: flex;
		gap: 0.25em;
		text-transform: uppercase;
		color: transparent;
		background-clip: text;
		padding: 2rem;
		margin: -1rem;
		@apply bg-gradient-to-b from-fg to-primary;
		overflow: visible;

		/* font-family: 'lato', sans-serif; */
		/* font-weight: 300; */

		& > * {
			animation-name: wave;
			animation-timing-function: ease-in-out;
			animation-duration: 3s;
			animation-delay: calc(var(--slot) * -200ms);
			animation-iteration-count: infinite;
			animation-direction: alternate;
		}
	}

	@keyframes wave {
		0% {
			transform: translateY(-0.15em);
		}

		100% {
			transform: translateY(0.15em);
		}
	}
</style>
