---
import Experience from '@/components/Experience'
import NamedList from '@/components/NamedList'
import BaseLayout from '@/layouts/BaseLayout'
import UnorderedList from '@/components/UnorderedList'
import ListItem from '@/components/ListItem'
import Icon from '@/components/icons/Icon'
import { SKILLS, MAIN_SKILLS } from '@/data/skills'
import { EXPERIENCE } from '@/data/experience'
import { GetSkillIcon } from '@/data/SkillIcons'
import { siteConfig } from '@/data/site.config'

const { author } = siteConfig

const title = 'About'
---

<BaseLayout title={title}>
	<!-- <TitlePage title={title} /> -->

	<div class="flex gap-8 justify-center items-center max-sm:flex-col">
		<div>
			<div class="size-32 md:size-64 shadow-glow bg-[url(/myself.jpg)] bg-[length:180%_180%] bg-center rounded-[25%] transition-[background-size] hover:bg-[length:100%_100%]" />
		</div>
		<div class="flex flex-col items-center text-center">
			<p class="text-4xl md:text-6xl text-fg font-bold">
				{author}
			</p>
			<p class="text-4xl font-bold">
				Hi, I'm a <span class="text-primary">full stack developer</span>!
			</p>
			<div class="flex gap-1 mt-4 text-md">
				{MAIN_SKILLS.map(skill => (
					<Icon name={GetSkillIcon(skill) || ''} title={skill} />
				))}
			</div>
			<p class="text-lg whitespace-pre-line">
				A bit under construction as I migrate from my old personal site.
			</p>
		</div>
	</div>

	<NamedList name="Experience">
		{EXPERIENCE.map(experience => (
			<Experience
				title={experience.name}
				subtitle={experience.title}
				dates={`${experience.startDate} - ${experience.endDate}`}
				image={experience.image}
				url={experience.url}
				linkedin={experience.linkedin}
			>
				{experience.description}
				{experience.skills && <>
					<br />Key skills: {experience.skills}
				</>}
				{experience.bullets?.length && <UnorderedList>
					{experience.bullets.map(item => <ListItem>{item}</ListItem>)}
				</UnorderedList>}
			</Experience>
		))}
	</NamedList>

	<NamedList name="Skills" description="List isn't exhaustive. There's way too much tech to mention and these are just the key ones people look for.">
		<div class="grid grid-cols-1 sm:grid-cols-[auto_auto] gap-y-1">
			{SKILLS.map(grp => (
				<div class="text-fg text-opacity-65 mr-[4ch] max-sm:border-b border-current">
					{grp.category}<span class="max-sm:hidden">:</span>
				</div>
				<div class="text-fg text-opacity-85 [&:not(:last-child)]:max-sm:mb-2">
					{grp.skills.join(', ')}
				</div>
			))}
		</div>
	</NamedList>

	<NamedList name="Education">
		<Experience
			title="Stony Brook University"
			subtitle="B.S. Technological Systems Management, Specialization in Computer Science"
			url="https://www.cs.stonybrook.edu/"
			image="logos/stonybrookuniversity.jpg"
		>
			Areas of interests were in game development, computer graphics, and project management.
			<br />Did volunteer computer science tutoring.
			<br />Entered in to and won 1st place in the university's annual Game Programming Competition.
		</Experience>
		<Experience
			title="Suffolk Community College"
			subtitle="A.S. Computer Science"
			url="https://www.sunysuffolk.edu/explore-academics/majors-and-programs/computer-science/index.jsp"
			image="logos/sccc.png"
		/>
	</NamedList>

	<NamedList name="Awards">
		<Experience
			title="SBU Game Programming Competition"
			subtitle="1st place in 2015"
			url="https://www3.cs.stonybrook.edu/~games/history.html"
			image="logos/stonybrookuniversity.jpg"
		>
			Won 1st place in the university's annual game programming competition out of 100+ entries and 16 finalists for <i>"Valhalla Run"</i>.
			<br />Programmed in C# with the Unity engine and entered solo.
			<br /><a href="https://www3.cs.stonybrook.edu/~games/history.html">www3.cs.stonybrook.edu/~games/history.html</a>
		</Experience>
	</NamedList>
</BaseLayout>
