---
import { Image } from 'astro:assets'
import Icon from '@/components/icons/Icon'
import FormattedDate from '@/components/FormattedDate'

const {
	data: { title, description, pubDate, image, category },
	readTime,
	slug
} = Astro.props
---

<div class="card">
	<div class="relative">
		<div class="absolute bg-gradient-to-b from-black/50 to-transparent h-16 w-full"></div>

		<Image src={image} class="h-64 w-full object-cover" alt="" />

		<div class="flex justify-between items-center gap-1 text-xs text-white/70 absolute bottom-2 left-2 right-2 px-4 py-2 bg-black/60 rounded shadow-md">
			<div class="flex items-center gap-1">
				<Icon name="ri:calendar-line" />
				<FormattedDate date={pubDate} />
			</div>

			{readTime && (
				<div class="flex items-center gap-1">
					<Icon name="ri:time-line" />
					<span>{readTime}</span>
				</div>
			)}

			<div class="flex items-center gap-1">
				<Icon name="ri:folder-2-line" />
				<span>{category}</span>
			</div>
		</div>
	</div>

	<div class="flex flex-col grow p-4 gap-2 text-center">
		<a class="card__link text-md text-primary font-bold" href={`/post/${slug}/`}>{title}</a>

		<p class="text-sm">{description}</p>
	</div>
</div>

<style>
	.card {
		display: flex;
		flex-direction: column;
		border: 1px solid #222;
		border-radius: 1rem;
		position: relative;
		overflow: hidden;
		min-height: 24rem;
		@apply bg-black/20;
		@apply transition;
	}

	.card:hover,
	.card:focus-within {
		@apply border-primary shadow-primary;
	}

	.card:focus-within a:focus {
		text-decoration: none;
		box-shadow: none;
		outline: none;
	}

	.card__link {
		text-decoration: none;
	}

	.card__link:focus {
		text-decoration: underline;
	}

	.card__link::after {
		content: '';
		position: absolute;
		inset: 0;
	}
</style>
