---
import { Image } from 'astro:assets'
import FormattedDate from '@/components/FormattedDate'
import ArrowUp from '@/components/icons/ArrowUp'

const {
	data: { title, description, pubDate, heroImage, category },
	readTime,
	slug
} = Astro.props
---

<article class='relative group grid effect grid-rows-[300px_auto]'>
	<a class='absolute inset-0 z-50' href={`/post/${slug}/`}></a>

	<Image
		src={heroImage}
		width={600}
		height={600}
		format='webp'
		class='absolute h-full min-w-full object-cover hover:scale-[101%] transition-all duration-200 rounded-[2px]'
		alt=''
	/>

	<div
		class='z-30 absolute inset-0 text-center flex flex-col justify-center items-center p-4 bg-[rgba(0,0,0,0.5)]'
	>
		<span class='text-lg text-white font-semibold -tracking-wider'>
			{title}
		</span>

		<p class='line-clamp-3 text-white'>
			{description}
		</p>
	</div>

	<div class='z-30 absolute bottom-0 w-full h-14'>
		<div class='-z-10 absolute bottom-0 glass w-full min-h-full'></div>
		<div class='flex items-center justify-between gap-x-1 text-white px-3 py-2'>
			<div class='flex flex-col gap-1 items-center justify-center'>
				<FormattedDate date={pubDate} />
				<span class='text-sm'> {readTime}</span>
			</div>

			<span class='pb-2'>{category}</span>
		</div>
	</div>
</article>
