---
import { Image } from 'astro:assets'
import { Icon } from 'astro-icon'
import FormattedDate from '@/components/FormattedDate'

const {
	data: { title, description, pubDate, image, category },
	readTime,
	slug
} = Astro.props


---

<div class='card'>
	<Image src={image} class='h-32 w-full object-cover' alt='' />

	<div class='flex flex-col grow p-4'>
		<a class='card__link text-lg' href={`/post/${slug}/`}>{title}</a>

		<p class='text-sm'>{description}</p>

		<div class='grow'></div>

		<div class='flex justify-between items-end'>
			<div class='flex items-center'>
				<Icon name='fe:calendar' class='text-current h-[1em]' /><FormattedDate date={pubDate} />
			</div>

			<div class='text-sm'>{readTime}</div>

			<div>{category}</div>
		</div>
	</div>
</div>

<style>
	.card {
		display: flex;
		flex-direction: column;
		border: 2px solid;
		border-radius: 0.5rem;
		position: relative;
		overflow: hidden;
		transition: box-shadow 0.15s ease-in-out;
		min-height: 300px;
	}

	.card:hover,
	.card:focus-within {
		box-shadow: 0 0 0 0.25rem;
	}

	.card:focus-within a:focus {
		text-decoration: none;
		box-shadow: none;
		outline: none;
	}

	.card__link {
		text-decoration: none;
	}

	.card__link:focus {
		text-decoration: underline;
	}

	.card__link::after {
		content: '';
		position: absolute;
		inset: 0;
	}
</style>
